*{
    margin: 0;
    padding: 0;
}

#content_container{
    position: absolute;
    display:table;
    top: 500px;
    width:100%;
}

.centered {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}